
.App{
    background-image: url("./images/background.jpg");
    background-repeat: repeat;
    height: 100vh;
    overflow: hidden;
}

body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 0.5%;
    width: 50%;
    align-items: center;
    text-align: center;
}

.navbar h1{
    font-size: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: #feb12f;
    transition: 0.5s;
}


.home h1{
    color:white;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 50px;
}

.home .buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:270px;
    margin-left: 14px;
    font-size: 40px;
    justify-content: space-around;
    width: 100%;
}

.home .buttons a{
    background-color: #3F51B5;
    border-radius: 30px;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    transition: 0.5s ease;
}

.home .buttons a:hover{
    transform: scale(1.1);
}


footer{
    position: absolute;
    top:860px;
    width: 100%;
    text-align: center;
}



footer a{
    font-size: 25px;
    text-decoration: none;
    color:white;
}

footer hr{
    width: 80%;
}

.Resmhtml{
    display: flex;
    flex-direction: column;
    height: 830px;
}

.Respage{
    margin: auto;
    margin-top:30px;
    width: 500px;
    height: 800px;
    background-color: white;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
}


.Respage .Header h3{
    margin-bottom: 10px;
}

.Respage .Header{
    align-items: center;
    text-align: center;
    padding-top: 7px;
}

.Respage .Header hr{
    width: 90%;
    margin-bottom: 8px;
}

.Respage .cont{
    display:grid;
    grid-template-columns: 4.5fr 3.5fr;
}

.Respage .left-cont + .Respage .right-cont{
    border-left: 2px solid ;
} 

.Respage .cont .left-cont {
    margin-left: 15px;
}

.Respage .cont .left-cont .ex{
    padding: 6px;
}

.Respage .cont .left-cont h2{
    padding-top: 1px;
    padding-left: 10px;
    background-color: rgb(233, 227, 227);
    border-radius: 20px;
    width: 50%;
}

.Respage .cont .left-cont hr{
    margin-right: 28px;
    margin-top: 20px;
}

.Respage .cont .left-cont h3{
    margin-bottom: 0px;
}

.Respage .cont .left-cont p{
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.Respage .cont .left-cont .edu{
    margin-left: 8px;
}

.Respage .cont .left-cont .when{
    margin-top: 12px;
}


.Respage .cont .right-cont h2{
    padding-top: 1px;
    padding-left: 10px;
    background-color: rgb(236, 232, 232);
    width: 44%;
    border-radius: 20px;
    margin-left: 15px;
}

.Respage .cont .right-cont p{
    padding-left: 3px;
    margin-left: 14px;
    margin-bottom: 0px;
    margin-top: 4px;
}

.Respage .cont .right-cont ul{
    padding-left: 34px;
}

.Respage .cont .right-cont li{
    margin-top: 2px;
}

.Respage .cont .right-cont hr{
    margin-right: 28px;
    margin-left: 18px;
    margin-top: 28px;
}

.Resmhtml button{
    margin: auto;
    margin-top: 20px;
    background-color: rgb(146, 146, 214);
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 30px;
    transition: 0.5s ease;
    font-size: 20px;
}

.Resmhtml button:hover{
    background-color: rgb(57, 57, 95);
    transform: scale(1.2);
}


.Coverhtml{
    display: flex;
    flex-direction: column;
    height: 830px;
}

.Coverpage{
    margin: auto;
    margin-top:30px;
    width: 500px;
    height: 800px;
    background-color: white;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.Coverpage hr{
    position: relative;
    transform: rotate(300deg);
    border: none;
    top :240px;
    width: 220%;
    right: 255px;
    height: 115px;
    background-color: rgba(67, 172, 172, 0.432);
}

.Coverpage .Header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Coverpage .Header .left{
    margin-top: 30px;
    margin-left: 50px;
}

.Coverpage .Header .left h3{
    margin-left: 12px;
    margin-bottom: 3px;
}

.Coverpage .Header .left h1{
    margin-top: 0px;
}

.Coverpage .Header .right{
    border-top: 6px solid;
    margin-right: 50px;
}

.Coverpage .Header .right .f{
    margin-top: 25px;
}

.Coverpage .Header .right h4{
    margin-top: 0px;
    margin-bottom: 6px;
}

.Coverpage .cont{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 6px solid;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.Coverpage .cont .left{
    margin-top: 10px;
    margin-left: 10px;
}

.Coverpage .cont .left h4{
    margin-top: 0px;
    margin-bottom: 6px;
}

.Coverpage .cont .right{
    margin-top: 12px;
    margin-left: 10px;
}

.Coverpage .cont .right h4{
    margin-top: 0px;
}

.Coverpage .cont .right .last{
    margin-bottom: 6px;
}

.Coverpage .cont .right .lastname{
    margin-top: 0px;
}

.Coverhtml button{
    margin: auto;
    margin-top: 20px;
    background-color: rgb(146, 146, 214);
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 30px;
    transition: 0.5s ease;
    font-size: 20px;
}

.Coverhtml button:hover{
    background-color: rgb(57, 57, 95);
    transform: scale(1.2);
}