
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 0.5%;
    width: 50%;
    align-items: center;
    text-align: center;
}

.navbar h1{
    font-size: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: #feb12f;
    transition: 0.5s;
}
