
.App{
    background-image: url("./images/background.jpg");
    background-repeat: repeat;
    height: 100vh;
    overflow: hidden;
}

body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 0.5%;
    width: 50%;
    align-items: center;
    text-align: center;
}

.navbar h1{
    font-size: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: #feb12f;
    transition: 0.5s;
}


.home h1{
    color:white;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 50px;
}

.home .buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:270px;
    margin-left: 14px;
    font-size: 40px;
    justify-content: space-around;
    width: 100%;
}

.home .buttons a{
    background-color: rgb(12, 12, 143);
    border-radius: 30px;
    padding: 9px;
    text-decoration: none;
    list-style: none;
    color: white;
}


footer{
    position: absolute;
    top:860px;
    width: 100%;
    text-align: center;
}



footer a{
    font-size: 25px;
    text-decoration: none;
    color:white;
}

footer hr{
    width: 80%;
}

.Resm{
    display: flex;
    flex-direction: column;
    height: 830px;
}

.whpag{
    margin: auto;
    margin-top:30px;
    width: 500px;
    height: 800px;
    background-color: white;
    font-size: smaller;
}

.whpag{
    font-family: 'Courier New', Courier, monospace;
}

.whpag .Header h3{
    margin-bottom: 10px;
}

.whpag .Header{
    align-items: center;
    text-align: center;
    padding-top: 7px;
}

.whpag .Header hr{
    width: 90%;
    margin-bottom: 8px;
}

.whpag .cont{
    display:grid;
    grid-template-columns: 4.5fr 3.5fr;
}

.left-cont + .right-cont{
    border-left: 2px solid ;
} 

.whpag .cont .left-cont {
    margin-left: 15px;
}

.whpag .cont .left-cont .ex{
    padding: 6px;
}

.whpag .cont .left-cont h2{
    padding-top: 1px;
    padding-left: 10px;
    background-color: rgb(233, 227, 227);
    border-radius: 20px;
    width: 50%;
}

.whpag .cont .left-cont hr{
    margin-right: 28px;
    margin-top: 20px;
}

.cont .left-cont h3{
    margin-bottom: 0px;
}

.whpag .cont .left-cont p{
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.whpag .cont .left-cont .edu{
    margin-left: 8px;
}

.whpag .cont .left-cont .when{
    margin-top: 12px;
}


.whpag .cont .right-cont h2{
    padding-top: 1px;
    padding-left: 10px;
    background-color: rgb(236, 232, 232);
    width: 44%;
    border-radius: 20px;
    margin-left: 15px;
}

.whpag .cont .right-cont p{
    padding-left: 3px;
    margin-left: 14px;
    margin-bottom: 0px;
    margin-top: 4px;
}

.whpag .cont .right-cont ul{
    padding-left: 34px;
}

.whpag .cont .right-cont li{
    margin-top: 2px;
}

.whpag .cont .right-cont hr{
    margin-right: 28px;
    margin-left: 18px;
    margin-top: 28px;
}

.Resm button{
    margin: auto;
    margin-top: 20px;
    background-color: rgb(146, 146, 214);
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 30px;
    transition: 0.5s ease;
    font-size: 20px;
}

.Resm button:hover{
    background-color: rgb(57, 57, 95);
    transform: scale(1.2);
}
