.resumeDiv {
  transform: scale(0.5);
  transition: 0.3s ease;
}

.resumeDiv:hover{
  transform: scale(0.6);
}

.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(0,71,100);
  border-radius: 30px;
}
